body.lock {
  overflow: hidden;
}

.header__burger {
    display: none;
    position: relative;
    top: 50%;
    left: 93%;
    width: 40px;
    height: 25px;
    border-bottom: 6px solid rgb(141, 139, 139);
    border-top: 6px solid rgb(141, 139, 139);
    border-radius: 6px;
}

.header__burger:before {
  content: " ";
  position: absolute;
  width: 100%;
  top: 10px;
  border-top: 6px solid rgb(141, 139, 139);
  border-radius: 4px;
}

.header__burger-menu {
  display: none;
  position: absolute;
  top: 69px;
  right: -58px;
  text-align: center;
  white-space: nowrap;
  border-radius: 15px;
}

.header__burger-item{
  letter-spacing: 1px;
}

.header__burger-item-link{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 100px;
  background-color:white;
  color: rgb(115, 113, 113);
  font-family: "roboto-weight";
  border: 1px solid rgb(80, 78, 78);
}

.header__burger-item-link--color {
  background-color: rgb(191, 189, 189);
}

.header__burger.active:before {
  transform: rotate(50deg);
  transition: 0.4s;
}

.header__burger-menu.active {
  display: block;
}

.header__burger-item-link:hover {
  background-color: rgb(214, 214, 214);
  color: white;
}

@media (max-width:1100px) {
  .header__burger {
    display: block;
  }

  .header__navbar {
    display: none;
  }

}